@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');.App {
  text-align: center;
}
body{
  font-family: "Montserrat", sans-serif ;
}



.Main{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  width: 100%;
}
.center p{
  margin: auto;
  text-align: center;
}

.title-container{
  margin-top: 25px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#wepo-logo{
  width:2.5rem;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid black;
}
.calculator{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  justify-content: center;
  height: fit-content;
  background-color: rgb(248, 248, 248);
  border-radius: 3px;
  padding-bottom: 2rem;
  border: 0.5px solid rgb(238, 237, 237);
}
#submit{
  border: 0.5px solid rgb(36, 36, 36);
  background-color: #40B3FA;
  border-radius: 3px;
  padding: 5px 0px;


}
.form{
  width: 70%;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}

.form input, .form button{
  padding: 0.2rem;
  margin: 0.3rem
}

.result-container{
  margin-top:0.5rem;
  display: flex;
  flex-direction: row;
}

.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 20px 0px 20px;
  flex-wrap: wrap;
}

.result h1{
  margin:0.5rem;
  font-size: 1.6rem
}
.priceUsd{
  margin: 1rem 0rem 1rem;
  display: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.priceUsd h3, .priceUsd p{
  margin-top: 0.5rem;
  margin-bottom: 0rem
  
}

.priceUsd h3{
  font-size: 0.8rem;
}
.calculator span{
  color: black;
  font-weight: 500;
}
.priceUsd p{
  font-size: 0.7rem
}

hr{
  margin-top:1.5rem;
  width: 40%;
  height: 1px;
  border:none;
  background-color: black;
}


@media(min-width:350px) and (max-width:450px){
  .Main{
    width:88%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
  }
 
  .form{
    display: flex;

  }
  
}


/*END*/



.bg {
  font-family: "Montserrat", sans-serif ;  
  margin:auto;
  margin-top: 30px;
  background: rgb(248, 248, 248);;
  width: 340px;
  height: 450px;
  border-radius: 10px;
  padding: 30px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgb(230, 230, 230);
}

.result {
  background: white;
  width: 90%;
  height: 11%;
  border-radius: 2px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0px 10px;
  justify-content: space-between;
  border: 1.5px solid rgb(200,200,200);
}
.result p{
  all: unset;
  font-size: 1px;
  font-family: "Montserrat", sans-serif ;
}
#res{
  font-family: "Montserrat", sans-serif ;
  color: rgb(1,5,100);
  font-size:22px;

}
.input {
  font-family: "Montserrat", sans-serif ;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: 70%;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
}

.digit {
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  width: 80%;
  height: 100%;
  gap: 5px;

}

.button {
  font-family: "Montserrat", sans-serif ;
  width: 90%;
  height: 100%;
  font-weight: 600;
  font-size: 15px;
}

.operator {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: s;
}
#plus {
  height: 30px;
}

#equal{
  height: 40px;
  color: red;
}

.Activ{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}